html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


@media screen and (min-width: 360px) and (max-width: 767px){



}

@media screen and (min-width: 768px) and (max-width: 1399px) { 
	.container { 
	display: flex; 
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	}

	#panel { 
		
		width: 25%;
		float: left;
	}

	#map { 
	width:75% !important;
	height: 100% !important;
 	}
}

@media screen and (min-width: 1400px)
{
	.container { 
	display: flex; 
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	}

	#panel { 
		
		width: 25%;
		float: left;
	}

	#map { 
	width:75% !important;
	height: 100% !important;
 	}

}